services:

  # ==========================================
  # 1. SPRING BOOT APPLICATION
  # ==========================================
  app:
    container_name: spring_app
    build: .
    ports:
      - "${SPRING_PORT}:8080"
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

  # ==========================================
  # 2. MONGODB DATABASE
  # ==========================================
  mongodb:
    image: mongo:7
    container_name: mongo_db
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  # ==========================================
  # 3. JENKINS (CI/CD)
  # ==========================================
  jenkins:
    container_name: 9dimeak_jenkins
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    user: root
    ports:
      - "${JENKINS_PORT}:8080"
      - "${JENKINS_AGENT_PORT}:50000"
    env_file:
      - .env
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - maven_data:/root/.m2
    networks:
      - app_network
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  app_network:
    name: 9dimeak_net